<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.mdl.dao.MdlBSpecialMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.mdl.entity.MdlBSpecial">
                    <id column="id" property="id"/>
                    <result column="ql_name" property="qlName"/>
                    <result column="ql_date" property="qlDate"/>
                    <result column="ql_code" property="qlCode"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="file_id" property="fileId"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, ql_name, ql_date, ql_code, user_account, user_account_name, file_id, file_url, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateMdlBSpecial" parameterType="cc.mrbird.febs.mdl.entity.MdlBSpecial">
        update mdl_b_special
        <trim prefix="set" suffixOverrides=",">
<if test="qlName != null">ql_name=#{qlName},</if>
<if test="qlDate != null">ql_date=#{qlDate},</if>
<if test="qlCode != null">ql_code=#{qlCode},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findMdlBSpecial" resultType="cc.mrbird.febs.mdl.entity.MdlBSpecial" parameterType="cc.mrbird.febs.mdl.entity.MdlBSpecial">
        select  mdl_b_special.*, sdl_b_user.dept_new dept_new from mdl_b_special
        inner join sdl_b_user on mdl_b_special.user_account= sdl_b_user.user_account
        where  1=1
            <if test="mdlBSpecial.qlName != null and mdlBSpecial.qlName != ''"> and  mdl_b_special.ql_name like concat('%', #{ mdlBSpecial.qlName} ,'%')</if>
        <if test="mdlBSpecial.qlDateFrom!= null">
            AND mdl_b_special.ql_date <![CDATA[ >= ]]>  #{mdlBSpecial.qlDateFrom}
        </if>
        <if test="mdlBSpecial.deptNew!= null">
            AND sdl_b_user.dept_new =  #{mdlBSpecial.deptNew}
        </if>
        <if test="mdlBSpecial.qlDateTo!= null">
            AND  mdl_b_special.ql_date <![CDATA[ <= ]]>  #{mdlBSpecial.qlDateTo}
        </if>
            <if test="mdlBSpecial.qlCode != null and mdlBSpecial.qlCode != ''"> and  mdl_b_special.ql_code like concat('%', #{ mdlBSpecial.qlCode} ,'%')</if>
            <if test="mdlBSpecial.userAccount != null and mdlBSpecial.userAccount != ''"> and  mdl_b_special.user_account like concat('%', #{ mdlBSpecial.userAccount} ,'%')</if>
            <if test="mdlBSpecial.userAccountName != null and mdlBSpecial.userAccountName != ''"> and  mdl_b_special.user_account_name like concat('%', #{ mdlBSpecial.userAccountName} ,'%')</if>
            <if test="mdlBSpecial.fileId != null and mdlBSpecial.fileId != ''"> and  mdl_b_special.file_id like concat('%', #{ mdlBSpecial.fileId} ,'%')</if>
            <if test="mdlBSpecial.fileUrl != null and mdlBSpecial.fileUrl != ''"> and  mdl_b_special.file_url like concat('%', #{ mdlBSpecial.fileUrl} ,'%')</if>
        <if test="mdlBSpecial.state != null"> and  mdl_b_special.state =#{ mdlBSpecial.state} </if>
        <if test="mdlBSpecial.isDeletemark != null"> and  mdl_b_special.IS_DELETEMARK =#{ mdlBSpecial.isDeletemark} </if>
        <if test="mdlBSpecial.createTimeFrom!= null">
            AND mdl_b_special.CREATE_TIME <![CDATA[ >= ]]>  #{mdlBSpecial.createTimeFrom}
        </if>
        <if test="mdlBSpecial.createTimeTo!= null">
            AND  mdl_b_special.CREATE_TIME <![CDATA[ <= ]]>  #{mdlBSpecial.createTimeTo}
        </if>
        <if test="mdlBSpecial.modifyTimeFrom!= null">
            AND mdl_b_special.MODIFY_TIME <![CDATA[ >= ]]>  #{mdlBSpecial.modifyTimeFrom}
        </if>
        <if test="mdlBSpecial.modifyTimeTo!= null">
            AND  mdl_b_special.MODIFY_TIME <![CDATA[ <= ]]>  #{mdlBSpecial.modifyTimeTo}
        </if>
</select>

</mapper>