<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.mdl.dao.MdlBArchiveMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.mdl.entity.MdlBArchive">
                    <id column="id" property="id"/>
                    <result column="file_name" property="fileName"/>
                    <result column="file_code" property="fileCode"/>
                    <result column="file_date" property="fileDate"/>
            <result column="file_type" property="fileType"/>
                    <result column="note" property="note"/>
                    <result column="file_id" property="fileId"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, file_name, file_code, file_date, file_type, note, file_id, file_url, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateMdlBArchive" parameterType="cc.mrbird.febs.mdl.entity.MdlBArchive">
        update mdl_b_archive
        <trim prefix="set" suffixOverrides=",">
<if test="fileName != null">file_name=#{fileName},</if>
<if test="fileCode != null">file_code=#{fileCode},</if>
<if test="fileDate != null">file_date=#{fileDate},</if>
            <if test="fileType != null">file_type=#{fileType},</if>
<if test="note != null">note=#{note},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findMdlBArchive" resultType="cc.mrbird.febs.mdl.entity.MdlBArchive" parameterType="cc.mrbird.febs.mdl.entity.MdlBArchive">
        select  *  from mdl_b_archive
        where  1=1
            <if test="mdlBArchive.fileName != null and mdlBArchive.fileName != ''"> and  mdl_b_archive.file_name like concat('%', #{ mdlBArchive.fileName} ,'%')</if>
            <if test="mdlBArchive.fileCode != null and mdlBArchive.fileCode != ''"> and  mdl_b_archive.file_code like concat('%', #{ mdlBArchive.fileCode} ,'%')</if>
        <if test="mdlBArchive.fileDateFrom!= null">
            AND mdl_b_archive.file_date <![CDATA[ >= ]]>  #{mdlBArchive.fileDateFrom}
        </if>
        <if test="mdlBArchive.fileDateTo!= null">
            AND  mdl_b_archive.file_date <![CDATA[ <= ]]>  #{mdlBArchive.fileDateTo}
        </if>
            <if test="mdlBArchive.note != null and mdlBArchive.note != ''"> and  mdl_b_archive.note like concat('%', #{ mdlBArchive.note} ,'%')</if>
            <if test="mdlBArchive.fileId != null and mdlBArchive.fileId != ''"> and  mdl_b_archive.file_id like concat('%', #{ mdlBArchive.fileId} ,'%')</if>
            <if test="mdlBArchive.fileUrl != null and mdlBArchive.fileUrl != ''"> and  mdl_b_archive.file_url like concat('%', #{ mdlBArchive.fileUrl} ,'%')</if>
        <if test="mdlBArchive.state != null"> and  mdl_b_archive.state =#{ mdlBArchive.state} </if>
        <if test="mdlBArchive.isDeletemark != null"> and  mdl_b_archive.IS_DELETEMARK =#{ mdlBArchive.isDeletemark} </if>
        <if test="mdlBArchive.createTimeFrom!= null">
            AND mdl_b_archive.CREATE_TIME <![CDATA[ >= ]]>  #{mdlBArchive.createTimeFrom}
        </if>
        <if test="mdlBArchive.createTimeTo!= null">
            AND  mdl_b_archive.CREATE_TIME <![CDATA[ <= ]]>  #{mdlBArchive.createTimeTo}
        </if>
        <if test="mdlBArchive.modifyTimeFrom!= null">
            AND mdl_b_archive.MODIFY_TIME <![CDATA[ >= ]]>  #{mdlBArchive.modifyTimeFrom}
        </if>
        <if test="mdlBArchive.modifyTimeTo!= null">
            AND  mdl_b_archive.MODIFY_TIME <![CDATA[ <= ]]>  #{mdlBArchive.modifyTimeTo}
        </if>
</select>

</mapper>