<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.mdl.dao.MdlBSurgeryinfoDMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.mdl.entity.MdlBSurgeryinfoD">
                    <id column="id" property="id"/>
                    <result column="base_id" property="baseId"/>
                    <result column="sugery_id" property="sugeryId"/>
                    <result column="dept_new" property="deptNew"/>
                    <result column="code" property="code"/>
                    <result column="name" property="name"/>
                    <result column="level" property="level"/>
                    <result column="lb" property="lb"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, base_id, sugery_id, dept_new, code, name, level, lb, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateMdlBSurgeryinfoD" parameterType="cc.mrbird.febs.mdl.entity.MdlBSurgeryinfoD">
        update mdl_b_surgeryinfo_d
        <trim prefix="set" suffixOverrides=",">
<if test="baseId != null">base_id=#{baseId},</if>
<if test="sugeryId != null">sugery_id=#{sugeryId},</if>
<if test="deptNew != null">dept_new=#{deptNew},</if>
<if test="code != null">code=#{code},</if>
<if test="name != null">name=#{name},</if>
<if test="level != null">level=#{level},</if>
<if test="lb != null">lb=#{lb},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findMdlBSurgeryinfoD" resultType="cc.mrbird.febs.mdl.entity.MdlBSurgeryinfoD" parameterType="cc.mrbird.febs.mdl.entity.MdlBSurgeryinfoD">
        SELECT
        mdl_d_surgery.dept_new,
        mdl_d_surgery.`code`,
        mdl_d_surgery.`name`,
        mdl_d_surgery.`level`,
        mdl_d_surgery.lb,
        mdl_d_surgery.id AS sugery_id,
        mdl_b_surgeryinfo_d.id,
        mdl_b_surgeryinfo_d.base_id
        FROM
        mdl_b_surgeryinfo_d inner join
        mdl_d_surgery  on mdl_b_surgeryinfo_d.`code` =mdl_d_surgery.code
        where  mdl_d_surgery.end_date is NULL and mdl_b_surgeryinfo_d.IS_DELETEMARK=1
        <if test="mdlBSurgeryinfoD.baseId != null and mdlBSurgeryinfoD.baseId != ''"> and  mdl_b_surgeryinfo_d.base_id = #{ mdlBSurgeryinfoD.baseId}</if>
            <if test="mdlBSurgeryinfoD.deptNew != null and mdlBSurgeryinfoD.deptNew != ''"> and  mdl_b_surgeryinfo_d.dept_new like concat('%', #{ mdlBSurgeryinfoD.deptNew} ,'%')</if>
            <if test="mdlBSurgeryinfoD.code != null and mdlBSurgeryinfoD.code != ''"> and  mdl_b_surgeryinfo_d.code like concat('%', #{ mdlBSurgeryinfoD.code} ,'%')</if>
            <if test="mdlBSurgeryinfoD.name != null and mdlBSurgeryinfoD.name != ''"> and  mdl_b_surgeryinfo_d.name like concat('%', #{ mdlBSurgeryinfoD.name} ,'%')</if>
            <if test="mdlBSurgeryinfoD.level != null and mdlBSurgeryinfoD.level != ''"> and  mdl_b_surgeryinfo_d.level like concat('%', #{ mdlBSurgeryinfoD.level} ,'%')</if>
            <if test="mdlBSurgeryinfoD.lb != null and mdlBSurgeryinfoD.lb != ''"> and  mdl_b_surgeryinfo_d.lb like concat('%', #{ mdlBSurgeryinfoD.lb} ,'%')</if>
        <if test="mdlBSurgeryinfoD.state != null"> and  mdl_b_surgeryinfo_d.state =#{ mdlBSurgeryinfoD.state} </if>
        <if test="mdlBSurgeryinfoD.isDeletemark != null"> and  mdl_b_surgeryinfo_d.IS_DELETEMARK =#{ mdlBSurgeryinfoD.isDeletemark} </if>
        <if test="mdlBSurgeryinfoD.createTimeFrom!= null">
            AND mdl_b_surgeryinfo_d.CREATE_TIME <![CDATA[ >= ]]>  #{mdlBSurgeryinfoD.createTimeFrom}
        </if>
        <if test="mdlBSurgeryinfoD.createTimeTo!= null">
            AND  mdl_b_surgeryinfo_d.CREATE_TIME <![CDATA[ <= ]]>  #{mdlBSurgeryinfoD.createTimeTo}
        </if>
        <if test="mdlBSurgeryinfoD.modifyTimeFrom!= null">
            AND mdl_b_surgeryinfo_d.MODIFY_TIME <![CDATA[ >= ]]>  #{mdlBSurgeryinfoD.modifyTimeFrom}
        </if>
        <if test="mdlBSurgeryinfoD.modifyTimeTo!= null">
            AND  mdl_b_surgeryinfo_d.MODIFY_TIME <![CDATA[ <= ]]>  #{mdlBSurgeryinfoD.modifyTimeTo}
        </if>
</select>

</mapper>