<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.sdl.dao.SdlBUserMgMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.sdl.entity.SdlBUserMg">
                    <id column="id" property="id"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="bq_name" property="bqName"/>
                    <result column="user_type" property="userType"/>
                    <result column="user_type_name" property="userTypeName"/>
                    <result column="dept_id" property="deptId"/>
                    <result column="telephone" property="telephone"/>
                    <result column="dept_name" property="deptName"/>
                    <result column="position_name" property="positionName"/>
                    <result column="np_position_name" property="npPositionName"/>
                    <result column="rylx" property="rylx"/>
                    <result column="yggh" property="yggh"/>
                    <result column="gh_hk" property="ghHk"/>
                    <result column="sex_name" property="sexName"/>
                    <result column="qualify_no" property="qualifyNo"/>
                    <result column="birthday" property="birthday"/>
                    <result column="school_date" property="schoolDate"/>
                    <result column="zyjsgw" property="zyjsgw"/>
                    <result column="bianhao_jx" property="bianhaoJx"/>
                    <result column="zyjsgw_lc" property="zyjsgwLc"/>
                    <result column="xcszyjzc" property="xcszyjzc"/>
                    <result column="appointed_date" property="appointedDate"/>
                    <result column="appointed_date_lc" property="appointedDateLc"/>
                    <result column="zizu" property="zizu"/>
                    <result column="yuangongzu" property="yuangongzu"/>
                    <result column="xrgwjb" property="xrgwjb"/>
                    <result column="xrgwjbprsj" property="xrgwjbprsj"/>
                    <result column="zhicheng" property="zhicheng"/>
                    <result column="zyjs_np" property="zyjsNp"/>
                    <result column="zyjs_date_np" property="zyjsDateNp"/>
                    <result column="zyjs_npjx" property="zyjsNpjx"/>
                    <result column="zyjs_date_npjx" property="zyjsDateNpjx"/>
                    <result column="edu" property="edu"/>
                    <result column="edu_school" property="eduSchool"/>
                    <result column="guoji" property="guoji"/>
                    <result column="minzu" property="minzu"/>
                    <result column="jiguan" property="jiguan"/>
                    <result column="political_status" property="politicalStatus"/>
                    <result column="bianhao_lc" property="bianhaoLc"/>
                    <result column="xingzhengjiebie" property="xingzhengjiebie"/>
                    <result column="id_card" property="idCard"/>
                    <result column="work_date" property="workDate"/>
                    <result column="yishi_lb" property="yishiLb"/>
                    <result column="yishi_jb" property="yishiJb"/>
                    <result column="yishi_zhiyefanwei" property="yishiZhiyefanwei"/>
                    <result column="yishi_zgzsbianhao" property="yishiZgzsbianhao"/>
                    <result column="yishi_ziyebianhao" property="yishiZiyebianhao"/>
                    <result column="renshizifw" property="renshizifw"/>
                    <result column="renshizfenlei" property="renshizfenlei"/>
                    <result column="is_authority" property="isAuthority"/>
                    <result column="file_id" property="fileId"/>
                    <result column="IsUse" property="IsUse"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="patent_good" property="patentGood"/>
                    <result column="patent_ranknum" property="patentRanknum"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="auditMan" property="auditMan"/>
                    <result column="auditManName" property="auditManName"/>
                    <result column="auditDate" property="auditDate"/>
                    <result column="auditSuggestion" property="auditSuggestion"/>
                    <result column="file_id_lc" property="fileIdLc"/>
                    <result column="file_url_lc" property="fileUrlLc"/>
                    <result column="dept_new" property="deptNew"/>
                    <result column="doc_type" property="docType"/>
                    <result column="chujikh_date" property="chujikhDate"/>
                    <result column="is_zhongjikh" property="isZhongjikh"/>
                    <result column="zhongjikh_date" property="zhongjikhDate"/>
                    <result column="staff_date" property="staffDate"/>
                    <result column="picture_id" property="pictureId"/>
                    <result column="picture_url" property="pictureUrl"/>
                    <result column="gqpxqk" property="gqpxqk"/>
                    <result column="gfhyspxqk" property="gfhyspxqk"/>
                    <result column="zjspnlceqk" property="zjspnlceqk"/>
                    <result column="dca_year" property="dcaYear"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, user_account_name, user_account, bq_name, user_type, user_type_name, dept_id, telephone, dept_name, position_name, np_position_name, rylx, yggh, gh_hk, sex_name, qualify_no, birthday, school_date, zyjsgw, bianhao_jx, zyjsgw_lc, xcszyjzc, appointed_date, appointed_date_lc, zizu, yuangongzu, xrgwjb, xrgwjbprsj, zhicheng, zyjs_np, zyjs_date_np, zyjs_npjx, zyjs_date_npjx, edu, edu_school, guoji, minzu, jiguan, political_status, bianhao_lc, xingzhengjiebie, id_card, work_date, yishi_lb, yishi_jb, yishi_zhiyefanwei, yishi_zgzsbianhao, yishi_ziyebianhao, renshizifw, renshizfenlei, is_authority, file_id, IsUse, file_url, patent_good, patent_ranknum, state, IS_DELETEMARK, CREATE_TIME, display_index, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, auditMan, auditManName, auditDate, auditSuggestion, file_id_lc, file_url_lc, dept_new, doc_type, chujikh_date, is_zhongjikh, zhongjikh_date, staff_date, picture_id, picture_url, gqpxqk, gfhyspxqk, zjspnlceqk, dca_year
    </sql>
    <update id="updateSdlBUserMg" parameterType="cc.mrbird.febs.sdl.entity.SdlBUserMg">
        update sdl_b_user_mg
        <trim prefix="set" suffixOverrides=",">
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="bqName != null">bq_name=#{bqName},</if>
<if test="userType != null">user_type=#{userType},</if>
<if test="userTypeName != null">user_type_name=#{userTypeName},</if>
<if test="deptId != null">dept_id=#{deptId},</if>
<if test="telephone != null">telephone=#{telephone},</if>
<if test="deptName != null">dept_name=#{deptName},</if>
<if test="positionName != null">position_name=#{positionName},</if>
<if test="npPositionName != null">np_position_name=#{npPositionName},</if>
<if test="rylx != null">rylx=#{rylx},</if>
<if test="yggh != null">yggh=#{yggh},</if>
<if test="ghHk != null">gh_hk=#{ghHk},</if>
<if test="sexName != null">sex_name=#{sexName},</if>
<if test="qualifyNo != null">qualify_no=#{qualifyNo},</if>
<if test="birthday != null">birthday=#{birthday},</if>
<if test="schoolDate != null">school_date=#{schoolDate},</if>
<if test="zyjsgw != null">zyjsgw=#{zyjsgw},</if>
<if test="bianhaoJx != null">bianhao_jx=#{bianhaoJx},</if>
<if test="zyjsgwLc != null">zyjsgw_lc=#{zyjsgwLc},</if>
<if test="xcszyjzc != null">xcszyjzc=#{xcszyjzc},</if>
<if test="appointedDate != null">appointed_date=#{appointedDate},</if>
<if test="appointedDateLc != null">appointed_date_lc=#{appointedDateLc},</if>
<if test="zizu != null">zizu=#{zizu},</if>
<if test="yuangongzu != null">yuangongzu=#{yuangongzu},</if>
<if test="xrgwjb != null">xrgwjb=#{xrgwjb},</if>
<if test="xrgwjbprsj != null">xrgwjbprsj=#{xrgwjbprsj},</if>
<if test="zhicheng != null">zhicheng=#{zhicheng},</if>
<if test="zyjsNp != null">zyjs_np=#{zyjsNp},</if>
<if test="zyjsDateNp != null">zyjs_date_np=#{zyjsDateNp},</if>
<if test="zyjsNpjx != null">zyjs_npjx=#{zyjsNpjx},</if>
<if test="zyjsDateNpjx != null">zyjs_date_npjx=#{zyjsDateNpjx},</if>
<if test="edu != null">edu=#{edu},</if>
<if test="eduSchool != null">edu_school=#{eduSchool},</if>
<if test="guoji != null">guoji=#{guoji},</if>
<if test="minzu != null">minzu=#{minzu},</if>
<if test="jiguan != null">jiguan=#{jiguan},</if>
<if test="politicalStatus != null">political_status=#{politicalStatus},</if>
<if test="bianhaoLc != null">bianhao_lc=#{bianhaoLc},</if>
<if test="xingzhengjiebie != null">xingzhengjiebie=#{xingzhengjiebie},</if>
<if test="idCard != null">id_card=#{idCard},</if>
<if test="workDate != null">work_date=#{workDate},</if>
<if test="yishiLb != null">yishi_lb=#{yishiLb},</if>
<if test="yishiJb != null">yishi_jb=#{yishiJb},</if>
<if test="yishiZhiyefanwei != null">yishi_zhiyefanwei=#{yishiZhiyefanwei},</if>
<if test="yishiZgzsbianhao != null">yishi_zgzsbianhao=#{yishiZgzsbianhao},</if>
<if test="yishiZiyebianhao != null">yishi_ziyebianhao=#{yishiZiyebianhao},</if>
<if test="renshizifw != null">renshizifw=#{renshizifw},</if>
<if test="renshizfenlei != null">renshizfenlei=#{renshizfenlei},</if>
<if test="isAuthority != null">is_authority=#{isAuthority},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="IsUse != null">IsUse=#{IsUse},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="patentGood != null">patent_good=#{patentGood},</if>
<if test="patentRanknum != null">patent_ranknum=#{patentRanknum},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="auditMan != null">auditMan=#{auditMan},</if>
<if test="auditManName != null">auditManName=#{auditManName},</if>
<if test="auditDate != null">auditDate=#{auditDate},</if>
<if test="auditSuggestion != null">auditSuggestion=#{auditSuggestion},</if>
<if test="fileIdLc != null">file_id_lc=#{fileIdLc},</if>
<if test="fileUrlLc != null">file_url_lc=#{fileUrlLc},</if>
<if test="deptNew != null">dept_new=#{deptNew},</if>
<if test="docType != null">doc_type=#{docType},</if>
<if test="chujikhDate != null">chujikh_date=#{chujikhDate},</if>
<if test="isZhongjikh != null">is_zhongjikh=#{isZhongjikh},</if>
<if test="zhongjikhDate != null">zhongjikh_date=#{zhongjikhDate},</if>
<if test="staffDate != null">staff_date=#{staffDate},</if>
<if test="pictureId != null">picture_id=#{pictureId},</if>
<if test="pictureUrl != null">picture_url=#{pictureUrl},</if>
<if test="gqpxqk != null">gqpxqk=#{gqpxqk},</if>
<if test="gfhyspxqk != null">gfhyspxqk=#{gfhyspxqk},</if>
<if test="zjspnlceqk != null">zjspnlceqk=#{zjspnlceqk},</if>
<if test="dcaYear != null">dca_year=#{dcaYear},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findSdlBUserMg" resultType="cc.mrbird.febs.sdl.entity.SdlBUserMg" parameterType="cc.mrbird.febs.sdl.entity.SdlBUserMg">
        select  *  from sdl_b_user_mg
        where  1=1
            <if test="sdlBUser.id != null and sdlBUser.id != ''"> and  sdl_b_user_mg.id =#{ sdlBUser.id} </if>
            <if test="sdlBUser.userAccountName != null and sdlBUser.userAccountName != ''"> and  sdl_b_user_mg.user_account_name like concat('%', #{ sdlBUser.userAccountName} ,'%')</if>
            <if test="sdlBUser.userAccount != null and sdlBUser.userAccount != ''"> and  sdl_b_user_mg.user_account like concat('%', #{ sdlBUser.userAccount} ,'%')</if>
            <if test="sdlBUser.bqName != null and sdlBUser.bqName != ''"> and  sdl_b_user_mg.bq_name like concat('%', #{ sdlBUser.bqName} ,'%')</if>
        <if test="sdlBUser.userType != null"> and  sdl_b_user_mg.user_type =#{ sdlBUser.userType} </if>
            <if test="sdlBUser.userTypeName != null and sdlBUser.userTypeName != ''"> and  sdl_b_user_mg.user_type_name like concat('%', #{ sdlBUser.userTypeName} ,'%')</if>
            <if test="sdlBUser.deptId != null and sdlBUser.deptId != ''"> and  sdl_b_user_mg.dept_id like concat('%', #{ sdlBUser.deptId} ,'%')</if>
            <if test="sdlBUser.telephone != null and sdlBUser.telephone != ''"> and  sdl_b_user_mg.telephone like concat('%', #{ sdlBUser.telephone} ,'%')</if>
            <if test="sdlBUser.deptName != null and sdlBUser.deptName != ''"> and  sdl_b_user_mg.dept_name like concat('%', #{ sdlBUser.deptName} ,'%')</if>
            <if test="sdlBUser.positionName != null and sdlBUser.positionName != ''"> and  sdl_b_user_mg.position_name like concat('%', #{ sdlBUser.positionName} ,'%')</if>
            <if test="sdlBUser.npPositionName != null and sdlBUser.npPositionName != ''"> and  sdl_b_user_mg.np_position_name like concat('%', #{ sdlBUser.npPositionName} ,'%')</if>
            <if test="sdlBUser.rylx != null and sdlBUser.rylx != ''"> and  sdl_b_user_mg.rylx like concat('%', #{ sdlBUser.rylx} ,'%')</if>
            <if test="sdlBUser.yggh != null and sdlBUser.yggh != ''"> and  sdl_b_user_mg.yggh like concat('%', #{ sdlBUser.yggh} ,'%')</if>
            <if test="sdlBUser.ghHk != null and sdlBUser.ghHk != ''"> and  sdl_b_user_mg.gh_hk like concat('%', #{ sdlBUser.ghHk} ,'%')</if>
            <if test="sdlBUser.sexName != null and sdlBUser.sexName != ''"> and  sdl_b_user_mg.sex_name like concat('%', #{ sdlBUser.sexName} ,'%')</if>
            <if test="sdlBUser.qualifyNo != null and sdlBUser.qualifyNo != ''"> and  sdl_b_user_mg.qualify_no like concat('%', #{ sdlBUser.qualifyNo} ,'%')</if>
            <if test="sdlBUser.birthday != null and sdlBUser.birthday != ''"> and  sdl_b_user_mg.birthday like concat('%', #{ sdlBUser.birthday} ,'%')</if>
            <if test="sdlBUser.schoolDate != null and sdlBUser.schoolDate != ''"> and  sdl_b_user_mg.school_date like concat('%', #{ sdlBUser.schoolDate} ,'%')</if>
            <if test="sdlBUser.zyjsgw != null and sdlBUser.zyjsgw != ''"> and  sdl_b_user_mg.zyjsgw like concat('%', #{ sdlBUser.zyjsgw} ,'%')</if>
            <if test="sdlBUser.bianhaoJx != null and sdlBUser.bianhaoJx != ''"> and  sdl_b_user_mg.bianhao_jx like concat('%', #{ sdlBUser.bianhaoJx} ,'%')</if>
            <if test="sdlBUser.zyjsgwLc != null and sdlBUser.zyjsgwLc != ''"> and  sdl_b_user_mg.zyjsgw_lc like concat('%', #{ sdlBUser.zyjsgwLc} ,'%')</if>
            <if test="sdlBUser.xcszyjzc != null and sdlBUser.xcszyjzc != ''"> and  sdl_b_user_mg.xcszyjzc like concat('%', #{ sdlBUser.xcszyjzc} ,'%')</if>
            <if test="sdlBUser.appointedDate != null and sdlBUser.appointedDate != ''"> and  sdl_b_user_mg.appointed_date like concat('%', #{ sdlBUser.appointedDate} ,'%')</if>
            <if test="sdlBUser.appointedDateLc != null and sdlBUser.appointedDateLc != ''"> and  sdl_b_user_mg.appointed_date_lc like concat('%', #{ sdlBUser.appointedDateLc} ,'%')</if>
            <if test="sdlBUser.zizu != null and sdlBUser.zizu != ''"> and  sdl_b_user_mg.zizu like concat('%', #{ sdlBUser.zizu} ,'%')</if>
            <if test="sdlBUser.yuangongzu != null and sdlBUser.yuangongzu != ''"> and  sdl_b_user_mg.yuangongzu like concat('%', #{ sdlBUser.yuangongzu} ,'%')</if>
            <if test="sdlBUser.xrgwjb != null and sdlBUser.xrgwjb != ''"> and  sdl_b_user_mg.xrgwjb like concat('%', #{ sdlBUser.xrgwjb} ,'%')</if>
            <if test="sdlBUser.xrgwjbprsj != null and sdlBUser.xrgwjbprsj != ''"> and  sdl_b_user_mg.xrgwjbprsj like concat('%', #{ sdlBUser.xrgwjbprsj} ,'%')</if>
            <if test="sdlBUser.zhicheng != null and sdlBUser.zhicheng != ''"> and  sdl_b_user_mg.zhicheng like concat('%', #{ sdlBUser.zhicheng} ,'%')</if>
            <if test="sdlBUser.zyjsNp != null and sdlBUser.zyjsNp != ''"> and  sdl_b_user_mg.zyjs_np like concat('%', #{ sdlBUser.zyjsNp} ,'%')</if>
            <if test="sdlBUser.zyjsDateNp != null and sdlBUser.zyjsDateNp != ''"> and  sdl_b_user_mg.zyjs_date_np like concat('%', #{ sdlBUser.zyjsDateNp} ,'%')</if>
            <if test="sdlBUser.zyjsNpjx != null and sdlBUser.zyjsNpjx != ''"> and  sdl_b_user_mg.zyjs_npjx like concat('%', #{ sdlBUser.zyjsNpjx} ,'%')</if>
            <if test="sdlBUser.zyjsDateNpjx != null and sdlBUser.zyjsDateNpjx != ''"> and  sdl_b_user_mg.zyjs_date_npjx like concat('%', #{ sdlBUser.zyjsDateNpjx} ,'%')</if>
            <if test="sdlBUser.edu != null and sdlBUser.edu != ''"> and  sdl_b_user_mg.edu like concat('%', #{ sdlBUser.edu} ,'%')</if>
            <if test="sdlBUser.eduSchool != null and sdlBUser.eduSchool != ''"> and  sdl_b_user_mg.edu_school like concat('%', #{ sdlBUser.eduSchool} ,'%')</if>
            <if test="sdlBUser.guoji != null and sdlBUser.guoji != ''"> and  sdl_b_user_mg.guoji like concat('%', #{ sdlBUser.guoji} ,'%')</if>
            <if test="sdlBUser.minzu != null and sdlBUser.minzu != ''"> and  sdl_b_user_mg.minzu like concat('%', #{ sdlBUser.minzu} ,'%')</if>
            <if test="sdlBUser.jiguan != null and sdlBUser.jiguan != ''"> and  sdl_b_user_mg.jiguan like concat('%', #{ sdlBUser.jiguan} ,'%')</if>
            <if test="sdlBUser.politicalStatus != null and sdlBUser.politicalStatus != ''"> and  sdl_b_user_mg.political_status like concat('%', #{ sdlBUser.politicalStatus} ,'%')</if>
            <if test="sdlBUser.bianhaoLc != null and sdlBUser.bianhaoLc != ''"> and  sdl_b_user_mg.bianhao_lc like concat('%', #{ sdlBUser.bianhaoLc} ,'%')</if>
            <if test="sdlBUser.xingzhengjiebie != null and sdlBUser.xingzhengjiebie != ''"> and  sdl_b_user_mg.xingzhengjiebie like concat('%', #{ sdlBUser.xingzhengjiebie} ,'%')</if>
            <if test="sdlBUser.idCard != null and sdlBUser.idCard != ''"> and  sdl_b_user_mg.id_card like concat('%', #{ sdlBUser.idCard} ,'%')</if>
            <if test="sdlBUser.workDate != null and sdlBUser.workDate != ''"> and  sdl_b_user_mg.work_date like concat('%', #{ sdlBUser.workDate} ,'%')</if>
            <if test="sdlBUser.yishiLb != null and sdlBUser.yishiLb != ''"> and  sdl_b_user_mg.yishi_lb like concat('%', #{ sdlBUser.yishiLb} ,'%')</if>
            <if test="sdlBUser.yishiJb != null and sdlBUser.yishiJb != ''"> and  sdl_b_user_mg.yishi_jb like concat('%', #{ sdlBUser.yishiJb} ,'%')</if>
            <if test="sdlBUser.yishiZhiyefanwei != null and sdlBUser.yishiZhiyefanwei != ''"> and  sdl_b_user_mg.yishi_zhiyefanwei like concat('%', #{ sdlBUser.yishiZhiyefanwei} ,'%')</if>
            <if test="sdlBUser.yishiZgzsbianhao != null and sdlBUser.yishiZgzsbianhao != ''"> and  sdl_b_user_mg.yishi_zgzsbianhao like concat('%', #{ sdlBUser.yishiZgzsbianhao} ,'%')</if>
            <if test="sdlBUser.yishiZiyebianhao != null and sdlBUser.yishiZiyebianhao != ''"> and  sdl_b_user_mg.yishi_ziyebianhao like concat('%', #{ sdlBUser.yishiZiyebianhao} ,'%')</if>
            <if test="sdlBUser.renshizifw != null and sdlBUser.renshizifw != ''"> and  sdl_b_user_mg.renshizifw like concat('%', #{ sdlBUser.renshizifw} ,'%')</if>
            <if test="sdlBUser.renshizfenlei != null and sdlBUser.renshizfenlei != ''"> and  sdl_b_user_mg.renshizfenlei like concat('%', #{ sdlBUser.renshizfenlei} ,'%')</if>
            <if test="sdlBUser.isAuthority != null and sdlBUser.isAuthority != ''"> and  sdl_b_user_mg.is_authority like concat('%', #{ sdlBUser.isAuthority} ,'%')</if>
            <if test="sdlBUser.fileId != null and sdlBUser.fileId != ''"> and  sdl_b_user_mg.file_id like concat('%', #{ sdlBUser.fileId} ,'%')</if>
            <if test="sdlBUser.fileUrl != null and sdlBUser.fileUrl != ''"> and  sdl_b_user_mg.file_url like concat('%', #{ sdlBUser.fileUrl} ,'%')</if>
            <if test="sdlBUser.patentGood != null and sdlBUser.patentGood != ''"> and  sdl_b_user_mg.patent_good like concat('%', #{ sdlBUser.patentGood} ,'%')</if>
        <if test="sdlBUser.patentRanknum != null"> and  sdl_b_user_mg.patent_ranknum =#{ sdlBUser.patentRanknum} </if>
        <if test="sdlBUser.state != null"> and  sdl_b_user_mg.state =#{ sdlBUser.state} </if>
        <if test="sdlBUser.isDeletemark != null"> and  sdl_b_user_mg.IS_DELETEMARK =#{ sdlBUser.isDeletemark} </if>
        <if test="sdlBUser.createTimeFrom!= null">
            AND sdl_b_user_mg.CREATE_TIME <![CDATA[ >= ]]>  #{sdlBUser.createTimeFrom}
        </if>
        <if test="sdlBUser.createTimeTo!= null">
            AND  sdl_b_user_mg.CREATE_TIME <![CDATA[ <= ]]>  #{sdlBUser.createTimeTo}
        </if>
        <if test="sdlBUser.displayIndex != null"> and  sdl_b_user_mg.display_index =#{ sdlBUser.displayIndex} </if>
        <if test="sdlBUser.modifyTimeFrom!= null">
            AND sdl_b_user_mg.MODIFY_TIME <![CDATA[ >= ]]>  #{sdlBUser.modifyTimeFrom}
        </if>
        <if test="sdlBUser.modifyTimeTo!= null">
            AND  sdl_b_user_mg.MODIFY_TIME <![CDATA[ <= ]]>  #{sdlBUser.modifyTimeTo}
        </if>
            <if test="sdlBUser.auditMan != null and sdlBUser.auditMan != ''"> and  sdl_b_user_mg.auditMan like concat('%', #{ sdlBUser.auditMan} ,'%')</if>
            <if test="sdlBUser.auditManName != null and sdlBUser.auditManName != ''"> and  sdl_b_user_mg.auditManName like concat('%', #{ sdlBUser.auditManName} ,'%')</if>
        <if test="sdlBUser.auditDateFrom!= null">
            AND sdl_b_user_mg.auditDate <![CDATA[ >= ]]>  #{sdlBUser.auditDateFrom}
        </if>
        <if test="sdlBUser.auditDateTo!= null">
            AND  sdl_b_user_mg.auditDate <![CDATA[ <= ]]>  #{sdlBUser.auditDateTo}
        </if>
            <if test="sdlBUser.auditSuggestion != null and sdlBUser.auditSuggestion != ''"> and  sdl_b_user_mg.auditSuggestion like concat('%', #{ sdlBUser.auditSuggestion} ,'%')</if>
            <if test="sdlBUser.fileIdLc != null and sdlBUser.fileIdLc != ''"> and  sdl_b_user_mg.file_id_lc like concat('%', #{ sdlBUser.fileIdLc} ,'%')</if>
            <if test="sdlBUser.fileUrlLc != null and sdlBUser.fileUrlLc != ''"> and  sdl_b_user_mg.file_url_lc like concat('%', #{ sdlBUser.fileUrlLc} ,'%')</if>
            <if test="sdlBUser.deptNew != null and sdlBUser.deptNew != ''"> and  sdl_b_user_mg.dept_new like concat('%', #{ sdlBUser.deptNew} ,'%')</if>
            <if test="sdlBUser.chujikhDate != null and sdlBUser.chujikhDate != ''"> and  sdl_b_user_mg.chujikh_date like concat('%', #{ sdlBUser.chujikhDate} ,'%')</if>
            <if test="sdlBUser.zhongjikhDate != null and sdlBUser.zhongjikhDate != ''"> and  sdl_b_user_mg.zhongjikh_date like concat('%', #{ sdlBUser.zhongjikhDate} ,'%')</if>
            <if test="sdlBUser.staffDate != null and sdlBUser.staffDate != ''"> and  sdl_b_user_mg.staff_date like concat('%', #{ sdlBUser.staffDate} ,'%')</if>
            <if test="sdlBUser.pictureId != null and sdlBUser.pictureId != ''"> and  sdl_b_user_mg.picture_id like concat('%', #{ sdlBUser.pictureId} ,'%')</if>
            <if test="sdlBUser.pictureUrl != null and sdlBUser.pictureUrl != ''"> and  sdl_b_user_mg.picture_url like concat('%', #{ sdlBUser.pictureUrl} ,'%')</if>
            <if test="sdlBUser.gqpxqk != null and sdlBUser.gqpxqk != ''"> and  sdl_b_user_mg.gqpxqk like concat('%', #{ sdlBUser.gqpxqk} ,'%')</if>
            <if test="sdlBUser.gfhyspxqk != null and sdlBUser.gfhyspxqk != ''"> and  sdl_b_user_mg.gfhyspxqk like concat('%', #{ sdlBUser.gfhyspxqk} ,'%')</if>
            <if test="sdlBUser.zjspnlceqk != null and sdlBUser.zjspnlceqk != ''"> and  sdl_b_user_mg.zjspnlceqk like concat('%', #{ sdlBUser.zjspnlceqk} ,'%')</if>
            <if test="sdlBUser.dcaYear != null and sdlBUser.dcaYear != ''"> and  sdl_b_user_mg.dca_year like concat('%', #{ sdlBUser.dcaYear} ,'%')</if>
</select>
    <select id="findSdlBUserMgByDeptId" resultType="cc.mrbird.febs.sdl.entity.CustomUser">
        select  user_account_name, user_account, user_type,user_type_name  from sdl_b_user_mg
        where  1=1
        and dept_id in
        <foreach item="item" index="index" collection="typeList" open="(" separator="," close=")">
            #{item}
        </foreach>
        and state!=0

    </select>
    <select id="getDeptNew" resultType="cc.mrbird.febs.sdl.entity.CustomDept">
        SELECT DISTINCT dept_new AS dept_name,dept_new As dept_id from sdl_b_user_mg where length(dept_new)>0
    </select>
</mapper>