<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dept.dao.DeptBUserMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dept.entity.DeptBUser">
                    <id column="id" property="id"/>
                    <result column="user_account_name" property="userAccountName"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="yuanqu" property="yuanqu"/>
                    <result column="fsgl" property="fsgl"/>
                    <result column="fs_date" property="fsDate"/>
                    <result column="dept_name" property="deptName"/>
                    <result column="dept_id" property="deptId"/>
                    <result column="file_id" property="fileId"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="note" property="note"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, user_account_name, user_account, yuanqu, fsgl, fs_date, dept_name, dept_id, file_id, file_url, state, IS_DELETEMARK, CREATE_TIME, display_index, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, note
    </sql>
    <update id="updateDeptBUser" parameterType="cc.mrbird.febs.dept.entity.DeptBUser">
        update dept_b_user
        <trim prefix="set" suffixOverrides=",">
<if test="userAccountName != null">user_account_name=#{userAccountName},</if>
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="yuanqu != null">yuanqu=#{yuanqu},</if>
<if test="fsgl != null">fsgl=#{fsgl},</if>
<if test="fsDate != null">fs_date=#{fsDate},</if>
<if test="deptName != null">dept_name=#{deptName},</if>
<if test="deptId != null">dept_id=#{deptId},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="note != null">note=#{note},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDeptBUser" resultType="cc.mrbird.febs.dept.entity.DeptBUser" parameterType="cc.mrbird.febs.dept.entity.DeptBUser">
        select  *  from dept_b_user
        where  1=1
            <if test="deptBUser.id != null and deptBUser.id != ''"> and  dept_b_user.id =#{ deptBUser.id} </if>
            <if test="deptBUser.userAccountName != null and deptBUser.userAccountName != ''"> and  dept_b_user.user_account_name like concat('%', #{ deptBUser.userAccountName} ,'%')</if>
            <if test="deptBUser.userAccount != null and deptBUser.userAccount != ''"> and  dept_b_user.user_account like concat('%', #{ deptBUser.userAccount} ,'%')</if>
            <if test="deptBUser.yuanqu != null and deptBUser.yuanqu != ''"> and  dept_b_user.yuanqu like concat('%', #{ deptBUser.yuanqu} ,'%')</if>
        <if test="deptBUser.fsDateFrom!= null">
            AND dept_b_user.fs_date <![CDATA[ >= ]]>  #{deptBUser.fsDateFrom}
        </if>
        <if test="deptBUser.fsDateTo!= null">
            AND  dept_b_user.fs_date <![CDATA[ <= ]]>  #{deptBUser.fsDateTo}
        </if>
            <if test="deptBUser.deptName != null and deptBUser.deptName != ''"> and  dept_b_user.dept_name like concat('%', #{ deptBUser.deptName} ,'%')</if>
            <if test="deptBUser.deptId != null and deptBUser.deptId != ''"> and  dept_b_user.dept_id like concat('%', #{ deptBUser.deptId} ,'%')</if>
            <if test="deptBUser.fileId != null and deptBUser.fileId != ''"> and  dept_b_user.file_id like concat('%', #{ deptBUser.fileId} ,'%')</if>
            <if test="deptBUser.fileUrl != null and deptBUser.fileUrl != ''"> and  dept_b_user.file_url like concat('%', #{ deptBUser.fileUrl} ,'%')</if>
        <if test="deptBUser.state != null"> and  dept_b_user.state =#{ deptBUser.state} </if>
        <if test="deptBUser.isDeletemark != null"> and  dept_b_user.IS_DELETEMARK =#{ deptBUser.isDeletemark} </if>
        <if test="deptBUser.createTimeFrom!= null">
            AND dept_b_user.CREATE_TIME <![CDATA[ >= ]]>  #{deptBUser.createTimeFrom}
        </if>
        <if test="deptBUser.createTimeTo!= null">
            AND  dept_b_user.CREATE_TIME <![CDATA[ <= ]]>  #{deptBUser.createTimeTo}
        </if>
        <if test="deptBUser.displayIndex != null"> and  dept_b_user.display_index =#{ deptBUser.displayIndex} </if>
        <if test="deptBUser.modifyTimeFrom!= null">
            AND dept_b_user.MODIFY_TIME <![CDATA[ >= ]]>  #{deptBUser.modifyTimeFrom}
        </if>
        <if test="deptBUser.modifyTimeTo!= null">
            AND  dept_b_user.MODIFY_TIME <![CDATA[ <= ]]>  #{deptBUser.modifyTimeTo}
        </if>
            <if test="deptBUser.note != null and deptBUser.note != ''"> and  dept_b_user.note like concat('%', #{ deptBUser.note} ,'%')</if>
</select>

    <select id="getUser2" resultType="cc.mrbird.febs.dept.entity.ViewDept">
        SELECT
        `dept_b_user`.`id` AS `id`,
        `sdl_b_user_mg`.`user_account_name` AS `user_account_name`,
        `sdl_b_user_mg`.`user_account` AS `user_account`,
        `sdl_b_user_mg`.`bq_name` AS `bq_name`,
        `sdl_b_user_mg`.`user_type` AS `user_type`,
        `sdl_b_user_mg`.`user_type_name` AS `user_type_name`,
        `sdl_b_user_mg`.`telephone` AS `telephone`,
        `sdl_b_user_mg`.`position_name` AS `position_name`,
        `sdl_b_user_mg`.`np_position_name` AS `np_position_name`,
        `sdl_b_user_mg`.`rylx` AS `rylx`,
        `sdl_b_user_mg`.`yggh` AS `yggh`,
        `sdl_b_user_mg`.`gh_hk` AS `gh_hk`,
        `sdl_b_user_mg`.`sex_name` AS `sex_name`,
        `sdl_b_user_mg`.`qualify_no` AS `qualify_no`,
        `sdl_b_user_mg`.`birthday` AS `birthday`,
        `sdl_b_user_mg`.`school_date` AS `school_date`,
        `sdl_b_user_mg`.`zyjsgw` AS `zyjsgw`,
        `sdl_b_user_mg`.`bianhao_jx` AS `bianhao_jx`,
        `sdl_b_user_mg`.`zyjsgw_lc` AS `zyjsgw_lc`,
        `sdl_b_user_mg`.`xcszyjzc` AS `xcszyjzc`,
        `sdl_b_user_mg`.`appointed_date` AS `appointed_date`,
        `sdl_b_user_mg`.`appointed_date_lc` AS `appointed_date_lc`,
        `sdl_b_user_mg`.`zizu` AS `zizu`,
        `sdl_b_user_mg`.`yuangongzu` AS `yuangongzu`,
        `sdl_b_user_mg`.`xrgwjb` AS `xrgwjb`,
        `sdl_b_user_mg`.`xrgwjbprsj` AS `xrgwjbprsj`,
        `sdl_b_user_mg`.`zhicheng` AS `zhicheng`,
        `sdl_b_user_mg`.`zyjs_np` AS `zyjs_np`,
        `sdl_b_user_mg`.`zyjs_date_np` AS `zyjs_date_np`,
        `sdl_b_user_mg`.`zyjs_npjx` AS `zyjs_npjx`,
        `sdl_b_user_mg`.`zyjs_date_npjx` AS `zyjs_date_npjx`,
        `sdl_b_user_mg`.`edu` AS `edu`,
        `sdl_b_user_mg`.`edu_school` AS `edu_school`,
        `sdl_b_user_mg`.`guoji` AS `guoji`,
        `sdl_b_user_mg`.`minzu` AS `minzu`,
        `sdl_b_user_mg`.`jiguan` AS `jiguan`,
        `sdl_b_user_mg`.`political_status` AS `political_status`,
        `sdl_b_user_mg`.`bianhao_lc` AS `bianhao_lc`,
        `sdl_b_user_mg`.`xingzhengjiebie` AS `xingzhengjiebie`,
        `sdl_b_user_mg`.`id_card` AS `id_card`,
        `sdl_b_user_mg`.`work_date` AS `work_date`,
        `sdl_b_user_mg`.`yishi_lb` AS `yishi_lb`,
        `sdl_b_user_mg`.`yishi_jb` AS `yishi_jb`,
        `sdl_b_user_mg`.`yishi_zhiyefanwei` AS `yishi_zhiyefanwei`,
        `sdl_b_user_mg`.`yishi_zgzsbianhao` AS `yishi_zgzsbianhao`,
        `sdl_b_user_mg`.`yishi_ziyebianhao` AS `yishi_ziyebianhao`,
        `sdl_b_user_mg`.`renshizifw` AS `renshizifw`,
        `sdl_b_user_mg`.`renshizfenlei` AS `renshizfenlei`,
        `sdl_b_user_mg`.`is_authority` AS `is_authority`,
        `sdl_b_user_mg`.`IsUse` AS `IsUse`,
        `sdl_b_user_mg`.`patent_good` AS `patent_good`,
        `sdl_b_user_mg`.`patent_ranknum` AS `patent_ranknum`,
        `sdl_b_user_mg`.`state` AS `state`,
        `sdl_b_user_mg`.`IS_DELETEMARK` AS `IS_DELETEMARK`,
        `sdl_b_user_mg`.`CREATE_TIME` AS `CREATE_TIME`,
        `sdl_b_user_mg`.`display_index` AS `display_index`,
        `sdl_b_user_mg`.`MODIFY_TIME` AS `MODIFY_TIME`,
        `sdl_b_user_mg`.`CREATE_USER_ID` AS `CREATE_USER_ID`,
        `sdl_b_user_mg`.`MODIFY_USER_ID` AS `MODIFY_USER_ID`,
        `sdl_b_user_mg`.`auditMan` AS `auditMan`,
        `sdl_b_user_mg`.`auditManName` AS `auditManName`,
        `sdl_b_user_mg`.`auditDate` AS `auditDate`,
        `sdl_b_user_mg`.`auditSuggestion` AS `auditSuggestion`,
        `sdl_b_user_mg`.`file_id_lc` AS `file_id_lc`,
        `sdl_b_user_mg`.`file_url_lc` AS `file_url_lc`,
        `sdl_b_user_mg`.`dept_new` AS `dept_new`,
        `sdl_b_user_mg`.`doc_type` AS `doc_type`,
        `sdl_b_user_mg`.`chujikh_date` AS `chujikh_date`,
        `sdl_b_user_mg`.`is_zhongjikh` AS `is_zhongjikh`,
        `sdl_b_user_mg`.`zhongjikh_date` AS `zhongjikh_date`,
        `sdl_b_user_mg`.`staff_date` AS `staff_date`,
        `sdl_b_user_mg`.`picture_id` AS `picture_id`,
        `sdl_b_user_mg`.`picture_url` AS `picture_url`,
        `sdl_b_user_mg`.`gqpxqk` AS `gqpxqk`,
        `sdl_b_user_mg`.`gfhyspxqk` AS `gfhyspxqk`,
        `sdl_b_user_mg`.`zjspnlceqk` AS `zjspnlceqk`,
        `sdl_b_user_mg`.`dca_year` AS `dca_year`,

        `dept_b_user`.`fsgl` AS `fsgl`,
        `dept_b_user`.`fs_date` AS `fs_date`,

        `dept_b_user`.`dept_id` AS `dept_id`,
        `dept_b_user`.`dept_name` AS `dept_name`,
        `dept_b_user`.`file_id` AS `file_id`,
        `dept_b_user`.`file_url` AS `file_url`,

        `dept_b_user`.`yuanqu` AS `yuanqu`,
        `dept_b_user`.`note` AS `note`
        FROM
        `sdl_b_user_mg` inner  JOIN  `dept_b_user` ON  `dept_b_user`.`user_account` = `sdl_b_user_mg`.`user_account`
        where 1=1
        <if test="user.userAccount != null">and (sdl_b_user_mg.user_account_name like concat('%', #{user.userAccount},'%') or sdl_b_user_mg.user_account=#{user.userAccount}) </if>
        <if test="user.deptName != null">and dept_b_user.dept_name =#{user.deptName}</if>
        <if test="user.yuanqu != null">and dept_b_user.yuanqu =#{user.yuanqu}</if>
        <if test="user.deptId != null and user.deptId!= ''"> and dept_b_user.dept_id in (select dept_id from t_dept where dept_id=#{user.deptId} or parent_id =#{user.deptId}) </if>

        <if test="user.auditMan!= null and user.auditMan==1">
            and sdl_b_user_mg.user_account in (
            select dept_b_book.user_account  from dept_b_book inner join (select max(check_date) check_date,user_account from dept_b_book_d GROUP BY user_account)d
            on dept_b_book.user_account =d.user_account
            where (d.check_date is not null and d.check_date<![CDATA[ <= ]]>DATE_SUB(CURDATE(), interval 2 year) ) or
            (d.check_date is  null and dept_b_book.book_date<![CDATA[ <= ]]>DATE_SUB(CURDATE(), interval 2 year) )

            )
        </if>
        <if test="user.auditMan!= null and user.auditMan==2">
            and sdl_b_user_mg.user_account in (
            select dept_b_book.user_account  from dept_b_book inner join (select max(check_date) check_date,user_account from dept_b_book_d GROUP BY user_account)d
            on dept_b_book.user_account =d.user_account
            where (d.check_date is not null and d.check_date<![CDATA[ >= ]]>DATE_SUB(CURDATE(), interval 2 year) ) or
            (d.check_date is  null and dept_b_book.book_date<![CDATA[ >= ]]>DATE_SUB(CURDATE(), interval 2 year) )

            )
        </if>
    </select>

</mapper>