<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.asset.dao.AssetBZichaMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.asset.entity.AssetBZicha">
                    <id column="id" property="id"/>
                    <result column="base_id" property="baseId"/>
                    <result column="zicha_date" property="zichaDate"/>
                    <result column="file_id" property="fileId"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="state" property="state"/>
                    <result column="note" property="note"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, base_id, zicha_date, file_id, file_url, state, note, IS_DELETEMARK, CREATE_TIME, display_index, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateAssetBZicha" parameterType="cc.mrbird.febs.asset.entity.AssetBZicha">
        update asset_b_zicha
        <trim prefix="set" suffixOverrides=",">
<if test="baseId != null">base_id=#{baseId},</if>
<if test="zichaDate != null">zicha_date=#{zichaDate},</if>
<if test="fileId != null">file_id=#{fileId},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="state != null">state=#{state},</if>
<if test="note != null">note=#{note},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findAssetBZicha" resultType="cc.mrbird.febs.asset.entity.AssetBZicha" parameterType="cc.mrbird.febs.asset.entity.AssetBZicha">
        select  *  from asset_b_zicha
        where  1=1
            <if test="assetBZicha.id != null and assetBZicha.id != ''"> and  asset_b_zicha.id =#{ assetBZicha.id} </if>
        <if test="assetBZicha.zichaDateFrom!= null">
            AND asset_b_zicha.zicha_date <![CDATA[ >= ]]>  #{assetBZicha.zichaDateFrom}
        </if>
        <if test="assetBZicha.zichaDateTo!= null">
            AND  asset_b_zicha.zicha_date <![CDATA[ <= ]]>  #{assetBZicha.zichaDateTo}
        </if>
            <if test="assetBZicha.fileId != null and assetBZicha.fileId != ''"> and  asset_b_zicha.file_id like concat('%', #{ assetBZicha.fileId} ,'%')</if>
            <if test="assetBZicha.fileUrl != null and assetBZicha.fileUrl != ''"> and  asset_b_zicha.file_url like concat('%', #{ assetBZicha.fileUrl} ,'%')</if>
        <if test="assetBZicha.state != null"> and  asset_b_zicha.state =#{ assetBZicha.state} </if>
            <if test="assetBZicha.note != null and assetBZicha.note != ''"> and  asset_b_zicha.note like concat('%', #{ assetBZicha.note} ,'%')</if>
        <if test="assetBZicha.isDeletemark != null"> and  asset_b_zicha.IS_DELETEMARK =#{ assetBZicha.isDeletemark} </if>
        <if test="assetBZicha.createTimeFrom!= null">
            AND asset_b_zicha.CREATE_TIME <![CDATA[ >= ]]>  #{assetBZicha.createTimeFrom}
        </if>
        <if test="assetBZicha.createTimeTo!= null">
            AND  asset_b_zicha.CREATE_TIME <![CDATA[ <= ]]>  #{assetBZicha.createTimeTo}
        </if>
        <if test="assetBZicha.displayIndex != null"> and  asset_b_zicha.display_index =#{ assetBZicha.displayIndex} </if>
        <if test="assetBZicha.modifyTimeFrom!= null">
            AND asset_b_zicha.MODIFY_TIME <![CDATA[ >= ]]>  #{assetBZicha.modifyTimeFrom}
        </if>
        <if test="assetBZicha.modifyTimeTo!= null">
            AND  asset_b_zicha.MODIFY_TIME <![CDATA[ <= ]]>  #{assetBZicha.modifyTimeTo}
        </if>
</select>

</mapper>