<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.asset.dao.AssetBFanghuMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.asset.entity.AssetBFanghu">
                    <id column="id" property="id"/>
                    <result column="base_id" property="baseId"/>
                    <result column="lb" property="lb"/>
                    <result column="ypfzfh" property="ypfzfh"/>
                    <result column="shuliang" property="shuliang"/>
                    <result column="qiandangliang" property="qiandangliang"/>
                    <result column="chuchang_date" property="chuchangDate"/>
                    <result column="state" property="state"/>
                    <result column="note" property="note"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="display_index" property="displayIndex"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, base_id, lb, ypfzfh, shuliang, qiandangliang, chuchang_date, state, note, IS_DELETEMARK, CREATE_TIME, display_index, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateAssetBFanghu" parameterType="cc.mrbird.febs.asset.entity.AssetBFanghu">
        update asset_b_fanghu
        <trim prefix="set" suffixOverrides=",">
<if test="baseId != null">base_id=#{baseId},</if>
<if test="lb != null">lb=#{lb},</if>
<if test="ypfzfh != null">ypfzfh=#{ypfzfh},</if>
<if test="shuliang != null">shuliang=#{shuliang},</if>
<if test="qiandangliang != null">qiandangliang=#{qiandangliang},</if>
<if test="chuchangDate != null">chuchang_date=#{chuchangDate},</if>
<if test="state != null">state=#{state},</if>
<if test="note != null">note=#{note},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findAssetBFanghu" resultType="cc.mrbird.febs.asset.entity.AssetBFanghu" parameterType="cc.mrbird.febs.asset.entity.AssetBFanghu">
        select  *  from asset_b_fanghu
        where  1=1
            <if test="assetBFanghu.id != null and assetBFanghu.id != ''"> and  asset_b_fanghu.id =#{ assetBFanghu.id} </if>
            <if test="assetBFanghu.lb != null and assetBFanghu.lb != ''"> and  asset_b_fanghu.lb like concat('%', #{ assetBFanghu.lb} ,'%')</if>
            <if test="assetBFanghu.ypfzfh != null and assetBFanghu.ypfzfh != ''"> and  asset_b_fanghu.ypfzfh like concat('%', #{ assetBFanghu.ypfzfh} ,'%')</if>
        <if test="assetBFanghu.shuliang != null"> and  asset_b_fanghu.shuliang =#{ assetBFanghu.shuliang} </if>
            <if test="assetBFanghu.qiandangliang != null and assetBFanghu.qiandangliang != ''"> and  asset_b_fanghu.qiandangliang like concat('%', #{ assetBFanghu.qiandangliang} ,'%')</if>
        <if test="assetBFanghu.chuchangDateFrom!= null">
            AND asset_b_fanghu.chuchang_date <![CDATA[ >= ]]>  #{assetBFanghu.chuchangDateFrom}
        </if>
        <if test="assetBFanghu.chuchangDateTo!= null">
            AND  asset_b_fanghu.chuchang_date <![CDATA[ <= ]]>  #{assetBFanghu.chuchangDateTo}
        </if>
        <if test="assetBFanghu.state != null"> and  asset_b_fanghu.state =#{ assetBFanghu.state} </if>
            <if test="assetBFanghu.note != null and assetBFanghu.note != ''"> and  asset_b_fanghu.note like concat('%', #{ assetBFanghu.note} ,'%')</if>
        <if test="assetBFanghu.isDeletemark != null"> and  asset_b_fanghu.IS_DELETEMARK =#{ assetBFanghu.isDeletemark} </if>
        <if test="assetBFanghu.createTimeFrom!= null">
            AND asset_b_fanghu.CREATE_TIME <![CDATA[ >= ]]>  #{assetBFanghu.createTimeFrom}
        </if>
        <if test="assetBFanghu.createTimeTo!= null">
            AND  asset_b_fanghu.CREATE_TIME <![CDATA[ <= ]]>  #{assetBFanghu.createTimeTo}
        </if>
        <if test="assetBFanghu.displayIndex != null"> and  asset_b_fanghu.display_index =#{ assetBFanghu.displayIndex} </if>
        <if test="assetBFanghu.modifyTimeFrom!= null">
            AND asset_b_fanghu.MODIFY_TIME <![CDATA[ >= ]]>  #{assetBFanghu.modifyTimeFrom}
        </if>
        <if test="assetBFanghu.modifyTimeTo!= null">
            AND  asset_b_fanghu.MODIFY_TIME <![CDATA[ <= ]]>  #{assetBFanghu.modifyTimeTo}
        </if>
</select>

</mapper>